html {
  // overflow: hidden;
  font-size: calc(100vw / 1440 * 10);

  @include media("<phone") {
    font-size: calc(100vw / 360 * 10);
  }
}

body {
  @extend %text-s;
  @extend %light-theme;
  min-height: 100vh;
  user-select: none;
  -webkit-user-drag: none;
  // overflow: hidden;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none !important;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

input,
textarea,
button,
select,
a,
div,
* {
  -webkit-tap-highlight-color: transparent;
}

svg {
  display: block;
  width: inherit;
  height: inherit;
}

button {
  border: none;
  cursor: pointer;
}

input{
  outline: none !important;
}

canvas {
  @extend %full;
  pointer-events: none;
  z-index: 4;
  transition: opacity 1s $ease-out-expo;
  display: none !important;

  @include media("<phone") {
    z-index: 3;
  }
}

[data-reveal] {
  opacity: 0;
}

[data-desktop] {
  @include media("<phone") {
    display: none !important;
  }
}
[data-mobile] {
  @include media(">phone") {
    display: none !important;
  }
}
